$header-bg: #1f232c;
$search-bg: #31343d;
$text: #afb5c2;
$notification: #e7404e;
$message: #f6bb42;
$sidebar-bg: #232730;

* {
    font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.dashboard-icon,
.charts-icon,
.tasks-icon,
.comments-icon,
.settings-icon,
.feedback-icon,
.links-icon,
.social-icon,
.mail-icon,
.achievements-icon,
.logout-icon {
    margin: 0 10px 0 30px;
    display: block;
    background-color: $text;
}

.dashboard-icon {
    width: 22px;
    height: 14px;
    mask-image: url('/dist/images/dashboard-icon.svg');
}

.charts-icon {
    width: 22px;
    height: 24px;
    mask-image: url('/dist/images/charts-icon.svg');
}

.tasks-icon {
    width: 23px;
    height: 17px;
    mask-image: url('/dist/images/tasks-icon.svg');
}

.comments-icon {
    width: 22px;
    height: 18px;
    mask-image: url('/dist/images/comment-icon.svg');
}

.settings-icon {
    width: 22px;
    height: 22px;
    mask-image: url('/dist/images/settings-icon.svg');
}

.feedback-icon {
    width: 27px;
    height: 25px;
    mask-image: url('/dist/images/feedback-icon.svg');
}

.links-icon {
    width: 23px;
    height: 20px;
    mask-image: url('/dist/images/link-icon.svg');
}

.social-icon {
    width: 22px;
    height: 24px;
    mask-image: url('/dist/images/social-icon.svg');
}

.mail-icon {
    width: 23px;
    height: 16px;
    mask-image: url('/dist/images/email-icon.svg');
}

.achievements-icon {
    width: 21px;
    height: 24px;
    mask-image: url('/dist/images/achievement-icon.svg');
}

.logout-icon {
    width: 22px;
    height: 24px;
    mask-image: url('/dist/images/logout-icon.svg');
}

.arrow-icon {
    display: block;
    width: 13px;
    height: 13px;
    background-color: $text;
    mask-image: url('/dist/images/arrow.svg');
}

.header-wrapper {
    background-color: $header-bg;
    
    .header {
        margin: 0 auto;
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            .logo-link {
                color: white;
                text-decoration: none;
                font-size: 26px;
                line-height: 26px;
                cursor: pointer;

                span {
                    font-weight: 700;
                }
            }
        }

        .center {
            display: flex;
            gap: 23px;
            align-items: center;

            .search-wrapper {
                width: 460px;

                .search-field {
                    background: $search-bg url('../../dist/images/search.png') no-repeat calc(100% - 20px) 50%;
                    color: $text;
                    width: calc(100% - 64px);
                    font-size: 18px;
                    line-height: 18px;
                    border: 0;
                    outline: 0;
                    border-radius: 4px;
                    padding: 6px 52px 6px 12px;
                }
            }   

            .notifications {
                position: relative;
                cursor: pointer;

                .notifications-icon {
                    display: block;
                    width: 18px;
                    height: 24px;
                    background: url('/dist/images/notification.png') no-repeat 50% 50%;
                }

                span {
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    display: block;
                    width: 12px;
                    height: 12px;
                    text-align: center;
                    border-radius: 9999px;
                    background-color: $notification;
                    color: white;
                    font-size: 10px;
                }
            }

            .messages {
                position: relative;
                cursor: pointer;

                .messages-icon {
                    display: block;
                    width: 25px;
                    height: 18px;
                    background: url('/dist/images/email.png') no-repeat 50% 50%;
                }

                span {
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    display: block;
                    width: 12px;
                    height: 12px;
                    text-align: center;
                    border-radius: 9999px;
                    background-color: $message;
                    color: white;
                    font-size: 10px;
                }
            }
        }

        .user-btn {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 0;
            outline: 0;
            background-color: transparent;
            cursor: pointer;

            .avatar {
                width: 34px;
                height: 34px;
                border-radius: 50%;
            }

            .label {
                color: $text;
                font-size: 18px;
                line-height: 18px;
            }

            .arrow-down-icon {
                display: block;
                width: 11px;
                height: 10px;
                background: url('/dist//images/arrow-down.png') no-repeat 50% 50%;
            }
        }
    }
}

#sidebar {
    height: auto;
    min-height: calc(100vh - 57px);
    background-color: $sidebar-bg;

    .nav{
        display: block;
        line-height: 40px;
        
    
        .nav-item {
            color: $text;
            cursor: pointer;
    
            a {
                text-decoration: none;
                font-size: 13px;
                color: inherit;
            }
    
            &:hover {
                color: #fff;
    
                .arrow-icon,
                .icon {
                    background-color: #fff;
                }
            }
        }
    }

    .collapse-menu {
        background: transparent;
        border: 0;
        color: $text;
        font-size: 13px;
        cursor: pointer;
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 60px auto 0 35px;

        .collapse-btn-icon {
            display: block;
            width: 23px;
            height: 23px;
            mask-image: url('/dist/images/12345.svg');
            background-color: red;
        }
    
        &:hover {
            color: #fff;

            .collapse-btn-icon {
                background-color: #fff;
            }
        }
    }
}
